<form style="margin-top: 15px;">
    <h2>Planet</h2>
    <div class="form-group">
        <label for="FormControlInputName">Name</label>
        <input type="text" class="form-control" id="FormControlInputName" placeholder="Name Planet">
    </div>
    <div class="form-group">
        <label for="FormControlInputSize">Size</label>
        <input type="text" class="form-control" id="FormControlInputSize" placeholder="Size Planet">
    </div>
    <div class="form-group">
        <label for="FormControlSelectStar">Select Star</label>
        <select class="form-control" id="FormControlSelectStar">
            <option>Linda</option>
            <option>Luna</option>
            <option>Stramgor</option>
            <option>Ricki</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>